{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

  {% block main-content %}

    {% comment %} {% endfor %} {% endcomment %}


    <!-- ***** Preloader Start ***** -->
    {% comment %} <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   {% endcomment %}
    <!-- ***** Preloader End ***** -->

    <!-- Header -->


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Best Offer</h4>
            <h2>New Arrivals On Sale</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Get your best products</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Grab last minute deals</h2>
          </div>
        </div>
      </div>
    </div>
    <!----stsar---->

     <div class="container mt-4">
        <div class="row">
            {% for c in templa %}
{% comment %} course {% endcomment %}
            <div class="col-lg-4 mt-3">
                <div class="card shadow">
                <img src="/media/{{c.image1}}" class="card-img-top p-5 img-fluid img-centered img-responsive" style="height:300px;width:400px">
                    {% comment %} <img src="/media/{{c.image1}}" class="card-img-top" alt="..."> {% endcomment %}
                    <div class="card-body">
                        {% if c.is_pro %}
                        <span class="badge badge-success">Premium</span>
                        {% else %}
                        <span class="badge badge-danger">Free</span>

                        {% endif %}

                      <a href="{% url 'detail' c.id%}"><h5 class="card-title text-dark"><b>{{c.name}}</b></h5></a>

                      <p class="card-text">{{c.description |safe}}</p>
                      <a href="{% url 'detail' c.id%}" class="btn btn-primary">View Course</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Banner Ends Here -->
  {% comment %} doooo {% endcomment %}
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Template Market</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best products?</h4>
              <p><a rel="nofollow" href="https://github.com/Baba7080" target="_parent">This template</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
                <li><a href="#">Non cum id reprehenderit</a></li>
              </ul>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/feature-image.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





 {% endblock main-content %}


